
   @import url('https://fonts.googleapis.com/css2? family= Nunito+Sans & display=swap'); 
    @font-face {
        font-family: fuenteRick;
        src: url( "get_schwifty.ttf");
    }

*{
    margin-left: 3px;
    margin-right: 3px;
}

.imagen {
    width: 140px;
    height: 185px;
    margin-right: 75px;
    margin-block-start: auto;
    margin-left: 15px;
}

nav {
    display: flex;
    background-color: rgba(160, 33, 219, 0.719);
    align-items: center;
    padding: 1px;
    justify-content: space-between;  
    border-radius: 10px;   
    }


body
  
   {    
    background-image: url( https://www.xtrafondos.com/wallpapers/vertical/cabezas-de-rick-and-morty-8452.jpg ); 
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Nunito Sans', sans-serif;

    }

    h1 {
        font-family: fuenteRick;
        font-size: 70px;
        color: greenyellow; 
        text-shadow: 5px 5px 0 green;
      
        }

        h2 {
            font-family: fuenteRick ;
            font-size: 40px;
            color: rgba(160, 33, 219, 0.9);
            text-shadow: 2px 2px 0 rgb(109, 0, 82);
            

        }
    
   .nav-links {
    
    padding: 10px;
    margin: 20px;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    font-size: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {

   color: rgba(255, 255, 22, 0.726); 

}




/*con la clase general se une en una misma division la sinopsis y acerca de mi */
.general {
    display: flex;
    margin: 10px;
    justify-content: center;
}



.acercademi h2 {
    
    font-size: 40px;
    margin-left: 15px;
    margin-top: 18px;
    
}

.acercademi p {
    font-size: 20px;
    margin-left: 15px;
}
.acercademi {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgba(173, 216, 230, 0.60);
    border-radius: 10px;
    padding: 5px;
    text-align:left;
    
}

.sinopsis {
    display: flex;
    background-color: rgba(173, 216, 230, 0.60);
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    align-items: center;
    
}


.sinopsis1 img {
    width: 210px;
    height: 400px;
    margin-right: 30px;
    justify-content: center;
    
   }

   .sinopsis2 {
    justify-content: center;
   }

   .sinopsis h2 {
    font-size: 40px;
    margin-top: 1px; 
   }

.sinopsis p {
    font-size: 20px;
    margin: 1px;

}

.personajes h2 {
    font-size: 40px;
    text-align: center;
    background-color: rgba(173, 216, 230, 0.60);
    padding: 10px;
    border-radius: 10px;
}


  .contenedor {
    
    padding: 0px;
    
    justify-content: space-between;
  
    margin: 1px;
    
    }


    /* .grid-item {
    
   
    display: flex;
  
    background-color: red;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    width: 250px;   
    margin: 10px;
    gap: 16px;     
    
    }      */

    #grid-item {
        margin: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
        gap: 50px;
        margin-top: 16px;
      }
      
 
  .grid-item p {
   margin:0px;
 }                       

   .grid-item img {
    width: 130px;
    border-radius: 50%;
 }                         

 .character-card {
    
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: rgba(173, 216, 230, 0.60);
  }
  
  .character-card img {
    width: 130px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  
  .character-card h3 {
    color: #000;
  }
  
  .character-card p {
    color: #000;

  }






   .ver-serie {
    display: flex;
    background-color: rgba(173, 216, 230, 0.60);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
   }
   
   .ver-serie1 img {
    width: 200px;
    height: 150px;
    margin-right: 200px;
    margin-left: 10px;
   }

   .ver-serie2 {
    margin: 3px;
    justify-content: space-between;
   }
   .ver-serie2 p {
    margin: 3px;
    font-size: 20px;
   }
   .ver-serie2 h2 {
    font-size: 35px;
    margin-top: 5px;
   }

  ul {
    list-style: none; 
   }  

   footer {
    display: flex;
    align-items: center;
    background-color: rgba(160, 33, 219, 0.719);
    margin-top: 30px;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    padding: 10px;

    
   }
   
   .parrafo1 h3 {
    display: flex;
    margin-left: 20px;

   }
   
   .parrafo1 p {
    margin: 3px;
    font-size: 18px;
    margin-left: 20px;
   }

   .parrafo2 p {
    font-size: 18px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-align: center;
    justify-content: left;
    color: white;
    
    
   }

   .parrafo2 a {
    text-decoration: none;
   }

   

   /*  Comienza la seccion del media query */

   @media ( max-width: 480px) {
    *{ 
        margin: auto;
    }
    .imagen {
        justify-content: center;
        width: 165px;
        height: 210px;

    }  

    h1 {
        font-size: 60px;
        text-align: center;
        margin-top: 15px;
        color: greenyellow; 
        text-shadow: 5px 5px 0 green;

    }

    h2{

        font-size: 30px;
        text-shadow: 3px 3px 0 rgb(109, 0, 82);
    }
   
    nav {
        background-color: rgba(160, 33, 219, 0.6);
        flex-direction: column;
        justify-content: center;
    }

    .nav-links {

        flex-direction: column;
    }

    header {

        
        flex-direction: column;
        justify-content: center;
    }

    .sinopsis {
        background-color: rgba(208, 233, 255, 0.6);
        flex-direction: column;
    }

    .sinopsis p {
        font-size: 18px;
    }

   .contenedor {

        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }

    #grid-item {
        margin: 10px;
        padding: 10px;
        display: grid;
       
        width:auto;
        margin-top: 16px;
      }

      .character-card {
        width: 95%;
        /*  grid-template-columns: repeat(auto-fit, minmax(min(350px,100%), 1fr)) ;  */
           
            
            border-radius: 8px;
            padding: 20px;
            text-align: center;
            background-color: rgba(173, 216, 230, 0.60);
          }
          
       
                        

    
    

    .ver-serie {
        
        background-color: rgba(208, 233, 255, 0.6);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ver-serie1  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ver-serie1 img {
        margin: auto;
        justify-content: center;
        align-items: center;

    }

    .ver-serie2 p {
        font-size: 18px;
    }

    .acercademi {

        background-color: rgba(208, 233, 255, 0.6);
    }

    .acercademi p {
        font-size: 18px;
    }

    footer {
        background-color: rgba(160, 33, 219, 0.6);

    }

        .parrafo1 h3 {
            font-size: 14px;
        }
        
        .parrafo1 p {
            font-size: 13px;
        }

        .parrafo2  a p {
            justify-content: space-between;
            font-size: 13px;
        }

}






